<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0" package="com.pernix.menus">
<uses-permission android:name="android.permission.INTERNET"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MenuActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <!-- Declaramos el componente HelpActivity, para que Android lo incorpore a su base de datos
         y pueda lanzarla cuando reciba una intención con la acción que especificamos. En este caso
         hacemos uso de la categoría por defecto, dado que no necesitamos especificar una en particular
         luego al crear la intención, no tendremos que especificar ninguna categoría, Android supondrá
         la categoría por defecto -->
        <activity android:name=".AyudaActivity" android:label="@string/help_activity_title">
            <intent-filter>
                <action android:name="com.example.android.intent.action.HELP"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>